body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Contenido{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 20px auto;
}

.componente {
    border: 2px dashed gray;
    padding: 20px;
    text-align: center;
}
